#include "/home/hamsteri/.config/colors/google.dark"

! Basic settings
URxvt*geometry:             120x60
URxvt*cursorBlink:          false
URxvt*depth:                32

! Disable beep in urxvt
URxvt.urgentOnBell:         false
URxvt.visualBell:           true

! Font settings
Xft.antialias:              1
Xft.autohint:               0
Xft.dpi:                    96
Xft.hinting:                1
Xft.hintsyle:               hintfull
Xft.lcdfilter:              lcddefault
Xft.rgba:                   rgb

! UI settings
URxvt*font:                 xft:Droid Sans Mono for Powerline:size=11
URxvt*underlineColor:       darkred

! UI
URxvt*fading:               30              ! % brightness reduction on focus loss
URxvt*mapAlert:             true            ! de-iconify on bell alert
URxvt*scrollBar:            false           ! maximize usable line width
URxvt*shading:              40              ! darken background transparency 60%
URxvt*transparent:          true
URxvt*visualBell:           true            ! blink window on bell

! Scrolling
URxvt*scrollTtyKeypress:    true            ! scroll to bottom on keypress
URxvt*scrollTtyOutput:      false           ! do not scroll to bottom on output
URxvt*scrollWithBuffer:     false           ! do not use scrollback buffer
URxvt*skipScroll:           true            ! favour scroll speed over listing all lines

! Settings for perl plugins
!URxvt*perl-ext:
URxvt*perl-ext-common: default,fullscreen

URxvt*keysym.F11: perl:fullscreen:switch
