#include "/home/hamsteri/.colors/vimbrant"
!#include "/home/hamsteri/.colors/base16-railscasts.dark"

!URxvt*fading: 10
URxvt*cursorBlink:    true
URxvt*scrollBar:      false
URxvt*depth:          32
URxvt*internalBorder: 5
URxvt*dynamicColors:  on
URxvt*urgentOnBell:   true

URxvt.iso14755:    false
URxvt.iso14755_52: false

URxvt.perl-ext-common:      default,clipboard,url-select,keyboard-select,font-size
URxvt.url-select.launcher:  firefox
URxvt.url-select.underline: true
URxvt.keysym.M-u:           perl:url-select:select_next
URxvt.keysym.M-Escape:      perl:keyboard-select:activate
URxvt.keysym.M-s:           perl:keyboard-select:search
URxvt.keysym.C-equal:       perl:font-size:increase
URxvt.keysym.C-minus:       perl:font-size:decrease

URxvt*font: xft:Fira Mono for Powerline:size=9
URxvt.letterSpace: -2

Xft.antialias: 1
Xft.autohint: 0
Xft.dpi: 96
Xft.hinting: 1
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault
Xft.rgba: rgb

